body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c0bfbf;
}

header {
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

section {
    padding: 2em;
    text-align: center;
}

.car-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 2em;
}

.car {
    flex: 0 0 calc(33.33% - 20px);
    margin: 10px;
    padding: 1em;
    background-color: #323232;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(253, 253, 253, 0.1);
    text-align: center;
    color: #c0bfbf;
}

.car img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: center;
}